			 /* carousel*/
			#carouselCaptions {
				height: 500px; 
			}

			
			.carousel-item img {
				width: 100%;     
				height: 500px;
				object-fit: cover;
				margin: 0 auto; 
				display: block; 
			}

			.Carousel-banner-heading{
				font-family: Playfair Display;
			}

 			/* cart box*/
			#cart-box {
				display: none; /* hide it at first */
				position: fixed;
			        top: 0px;
			        right: 0px;
			        width: 300px;
			        background-color: #E0E0E0;
			        padding: 20px;
			        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
				z-index: 9999; /* avoid it being blocked*/
			}

			.cart-box{
				margin: 10px 0;
				display: flex;
				justify-content: space-between;
				align-items: center;
				font-family: Playfair Display;
			}
			
			.cart-item span {
				flex: 1;
			}
			
			.cart-box h2 {
				font-family: Playfair Display;
				font-size: 20px;
				font-weight: bold;
				color:  #702931; 
				text-align: center;
				margin-bottom: 20px;
			}
			
			.total {
				font-weight: bold;
				font-family: Playfair Display;
				font-size: 18px;
				color: #222;
				text-align: right;
			}
			
			.close-cart {  /* this is the CLOSE CART BOX buttom*/
				background-color: #702931;
				border: none;
				color: white;
				font-size: 18px;
				font-family: Playfair Display;
				cursor: pointer;
			}
			
			.close-btn {  /* this is the X buttom to remove item from cart*/
				border: none;
				color: #702931;
				font-size: 18px;
				font-family: Playfair Display;
				cursor: pointer;
			}

			 /* comic & product cards session*/
			.comic-title, .product-title{
				margin-top: 10px;
				font-size: 13px; 
				font-weight: bold;
				}
				
			.price{
				font-size: 14px; 
				color: gray;
				}
			
			.btn{
				font-size: 10px;
			}
			
			.product-card {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				align-items: center;
				height: 100%; 
			}
			
			/* Banner*/
			.promotion-banner-picture{
				width: 450px;
				cursor: pointer;
			}
			
			/* Comic News */
			.comic-news {
				display: block;
	            		align-items: center;
			}
			
			/*Heading fonts */
			.heading {
				font-family: Playfair Display;
				margin-top: 80px;
				cursor: pointer;
			}
			
			.paragraph  {
				font-family: Playfair Display;
				font-size: 13px;
				cursor: pointer;
			}
	
			
			.comic-news  {
				width: 50%;
			}
			
			/* Blog*/
			.card-title {
				font-family: Playfair Display;
	
			}
			
			.card-text {
				font-family: Playfair Display;
				font-size: 18px;
				color: gray;
			}

			.footer{
			width: 100%;
			}

		


		
