img {
    transition: box-shadow 0.4s ease; /* light shadow down the picture*/
}

img:hover {
	transform: scale(1.05); /* "Zoom" */
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}

.button{
	display: inline-block;
	width: 50px;
	font-family: Arial, sans-serif;
	font-weight: 700;
	padding: 15px 30px;
	color: #fdfefe;/*White color*/
	text-decoration: none;
}

body {
      margin: 0;
      padding: 0;
      display: block;
      justify-content: center;
      align-items: center;
      background-color: #f3f3f3;
      color:#000000; /*Color for text*/
}
main, footer, header {
  display: block;
  width: 100%;
}
.container {
  display: flex;
  flex-direction: column; 
  width: 100%;
}
/*CARRUSEL*/
.slider-container {
      width: 50%;
      overflow: hidden;
      border: 2px solid #ddd;
      border-radius: 10px;
      position: relative;
}
.slider {
      display: flex;
      animation: slide 10s linear infinite;
}
.slider img {
      width: 70%;
      flex-shrink: 0;
}
@keyframes slide {
      0% { transform: translateX(0); }
      20% { transform: translateX(-100%); }
      40% { transform: translateX(-200%); }
      60% { transform: translateX(-300%); }
      80% { transform: translateX(-400%); }
      100% { transform: translateX(0); }
}
.carousel .card {
    max-width: 500px;
    margin: 0 auto;
}
.carousel-container {
 margin-bottom: 70px;!important /*room btwn bars */
}

.card {
      height: 500px; 
      display: flex;
      flex-direction: column;
      justify-content: space-between;
}
.card-img-top {
      height: 300px; 
      object-fit: cover; 
}
.card-body {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
}


/*CART*/

	
.product {
            border: 1px solid #ddd;
            padding: 10px;
            margin: 10px 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
.cart {
            position: fixed;
            top: 20px;
            right: 20px;
            width: 300px;
            max-height: 70vh;
            overflow-y: auto;
            border: 1px solid #ddd;
            background-color: white;
            padding: 10px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            z-index: 1000;
}
.cart-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 5px 0;
}

	
.remove-btn {
            background-color: red;
            color: white;
            border: none;
            padding: 5px;
            cursor: pointer;
}
.remove-btn:hover {
            background-color: darkred;
 }
 .total {
            font-weight: bold;
            text-align: right;
}

.euro{
	font-family: sans-serif;
}

 #successMessage {
      display: none;
      margin-top: 20px;
      color: blue; 
      font-weight: bold;
}




