img {
    transition: box-shadow 0.4s ease; /* light shadow down the picture*/
}

img:hover {
	transform: scale(1.05); /* "Zoom" */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);

.containerImagen {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 5px;

}	


.bton{
	display: inline-block;
	width: 50px;
	font-family: Arial, sans-serif;
	font-weight: 700;
	padding: 15px 30px;
	color: #fdfefe;/*White color*/
	text-decoration: none;
}

body {
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #f3f3f3;
      color:#ffffff; /*Color for text*/
}
.slider-container {
      width: 50%;
      overflow: hidden;
      border: 2px solid #ddd;
      border-radius: 10px;
      position: relative;
}
.slider {
      display: flex;
      animation: slide 10s linear infinite;
}
.slider img {
      width: 70%;
      flex-shrink: 0;
}
@keyframes slide {
      0% { transform: translateX(0); }
      20% { transform: translateX(-100%); }
      40% { transform: translateX(-200%); }
      60% { transform: translateX(-300%); }
      80% { transform: translateX(-400%); }
      100% { transform: translateX(0); }
}
.carousel .card {
    max-width: 400px;
    margin: 0 auto;
}
.carousel-container {
 margin-bottom: 500px;!important /*room btwn bars */
}

.card {
      height: 350px; /* Altura fija para todas las tarjetas */
      display: flex;
      flex-direction: column;
      justify-content: space-between;
}
.card-img-top {
      height: 200px; /* Altura fija para las imágenes */
      object-fit: cover; /* Ajusta la imagen dentro del espacio disponible */
}
.card-body {
      flex-grow: 1; /* Asegura que el cuerpo ocupe el espacio necesario */
      display: flex;
      flex-direction: column;
      justify-content: space-between;
}
