img {
    transition: box-shadow 0.4s ease; /* light shadow down the picture*/
}

img:hover {
	transform: scale(1.05); /* "Zoom" */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);

.containerImagen {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 5px;

}	
.TwoCol {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 80%;  
	background-color: #fbe9e7;
	border: 2px solid #edbb99;/*edge*/
	padding:20px 10px 10px 10px;
	border-radius: 4px; 
}

.flexCol {
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
    margin:auto;
}

.bton{
	display: inline-block !important;
	width: 50px !important;
	font-family: Arial, sans-serif;
	font-weight: 700 !important;
	background-color:#edbb99;/* Brown color */
	padding: 15px 30px !important;
	color: #fdfefe;/*White color*/
	text-decoration: none !important;
}

body {
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #f3f3f3;
      color:#000000; /*Color for text*/
}
.slider-container {
      width: 50%;
      overflow: hidden;
      border: 2px solid #ddd;
      border-radius: 10px;
      position: relative;
}
.slider {
      display: flex;
      animation: slide 10s linear infinite;
}
.slider img {
      width: 70%;
      flex-shrink: 0;
}
@keyframes slide {
      0% { transform: translateX(0); }
      20% { transform: translateX(-100%); }
      40% { transform: translateX(-200%); }
      60% { transform: translateX(-300%); }
      80% { transform: translateX(-400%); }
      100% { transform: translateX(0); }
}
.carousel .card {
    max-width: 400px;
    margin: 0 auto;
}

.block {
  height: 25vh; /* Cada bloque ocupa 25% de la altura de la pantalla */
  width: 100%;  /* Se extiende a todo el ancho */
}

.block1 {
  background-color: #5084b7; 
}

.block2 {
  background-color: #cf4b3b; 
}

.block3 {
  background-color: #fac94f;
}

.block4 {
  background-color: #702931; 
}
