/* navbar style*/
.navbar {
	font-family: 'Bebas Neue', sans-serif;
}
.navbar.scrolled {
  background-color: rgba(0, 0, 0, 0.8); 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* box style*/
.btn-primary {
    background-color: white;
    color: black;
    border: 1px solid #702931;
    text-decoration: none;
    display: inline-block;     
    transition: all 0.3s ease; 
}
.btn-primary:hover {
    background-color: #702931;  
    color: white;                
	border-color: #702931; 
}

/* category heading style */
.category-heading{
	font-family: Playfair Display;
}

/*style for icon image in the footer*/
.fuIcon img {
	width: 25px;
	height: auto
